In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt

## Series,类似一维数组的对象,对数据建立对应索引.

In [3]:
s=Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s[1]

2

In [5]:
s.values

array([1, 2, 3, 4])

In [6]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
obj2=Series([1,2,3,4,-1],index=['a','b','f','f','e'])
obj2

a    1
b    2
f    3
f    4
e   -1
dtype: int64

In [8]:
obj2['f']

f    3
f    4
dtype: int64

In [9]:
obj2[['f','a']]

f    3
f    4
a    1
dtype: int64

In [10]:
obj2.index

Index([u'a', u'b', u'f', u'f', u'e'], dtype='object')

In [11]:
obj2[obj2>1]

b    2
f    3
f    4
dtype: int64

In [12]:
obj2*2

a    2
b    4
f    6
f    8
e   -2
dtype: int64

In [13]:
obj2**2

a     1
b     4
f     9
f    16
e     1
dtype: int64

In [14]:
obj2-2*obj2

a   -1
b   -2
f   -3
f   -4
e    1
dtype: int64

Series可以看做一个定长的字典对象

In [15]:
df = {'step':2,'huy':1,'yue':13}
Series(df)

huy      1
step     2
yue     13
dtype: int64

In [19]:
obj2.index=['str','ret','tyr','rett','ert']
obj2

str     1
ret     2
tyr     3
rett    4
ert    -1
dtype: int64

In [20]:
obj2.name= 'haa'
obj2.index.name='index'

In [21]:
obj2

index
str     1
ret     2
tyr     3
rett    4
ert    -1
Name: haa, dtype: int64

## DataFrame表格型数据结构

In [22]:
data={'state':['Anhui','Beijing','Tianjing','hubei','jiangxi'],'Year':[2011,2012,2013,2014,2015],'pop':[1.1,1.2,1.6,2.1,2.8]}
frame=DataFrame(data)
frame

   Year  pop     state
0  2011  1.1     Anhui
1  2012  1.2   Beijing
2  2013  1.6  Tianjing
3  2014  2.1     hubei
4  2015  2.8   jiangxi

In [23]:
DataFrame(data,columns=['pop','state','jojo','Year'])

   pop     state jojo  Year
0  1.1     Anhui  NaN  2011
1  1.2   Beijing  NaN  2012
2  1.6  Tianjing  NaN  2013
3  2.1     hubei  NaN  2014
4  2.8   jiangxi  NaN  2015

In [24]:
frame['pop']

0    1.1
1    1.2
2    1.6
3    2.1
4    2.8
Name: pop, dtype: float64

In [31]:
frame.state

0       Anhui
1     Beijing
2    Tianjing
3       hubei
4     jiangxi
Name: state, dtype: object

In [32]:
frame2=DataFrame(data,columns=['pop','state','jojo','Year'],index=['h','d','m','f','n'])

In [33]:
frame2

   pop     state jojo  Year
h  1.1     Anhui  NaN  2011
d  1.2   Beijing  NaN  2012
m  1.6  Tianjing  NaN  2013
f  2.1     hubei  NaN  2014
n  2.8   jiangxi  NaN  2015

In [35]:
frame2['jojo']=2
frame2

   pop     state  jojo  Year
h  1.1     Anhui     2  2011
d  1.2   Beijing     2  2012
m  1.6  Tianjing     2  2013
f  2.1     hubei     2  2014
n  2.8   jiangxi     2  2015